<div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-danger pull-right">Delete</a>
            <a class="btn btn-primary pull-right">Edit</a>
          <div class="panel-heading">Enter Name here</div>
          <span class="pull-left">
            <img src="#" alt="" class="img-responsive">
          </span>
        </div>
        <div class="panel-body">
          <p>Email: </p>
          <p>Phone: </p>
  
        </div>
      </div>
    </div>
  </div>
  