<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="btn btn-success pull-right" routerLink="./new">New Contact</a>
        <div class="panel-heading">
          <h2>Contacts</h2>
        </div>
      </div>
      <app-contact-item 
        *ngFor="let contactEl of contacts"
        [contact]="contactEl"
        dnd-draggable 
        [dragEnabled]="true"
        [dragData]="contact"
        [dropZones]="['contactGroup']"
        ></app-contact-item>
    </div>
  </div>
</div>
